<div id="home-div">
<br />
<h1 style="font-size: 50px;">KAT'S DRONE SHOP</h1>
<br />
<p style="font-size: 30px;">Welcome to the best place to purchase your new drone! :) </p>
<br />
<img src="../images/drone-img.jpg" alt="drone image" style="width: 600px" />
</div>
