body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#home-div {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  align-items: center;
}